[Unit]
Description=Nitter: An alternative Twitter front-end
After=syslog.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__

WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/nitter

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
